body {
    margin: 3px;
    font-family: Arial, sans-serif;
    background-color: #07294E;
    color: #FFD700;
}

.container {
    display: flex;
    border: 5px solid white;
    box-shadow: 0 9px 8px rgba(0, 0, 0, 0.2);
    margin: 20px;
    border-radius: 20px;
}

.sidebar {
    width: 250px;
    background-color: #07294E;
    color: white;
    padding:1px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-right: 5px solid white;
    box-sizing: border-box;
}

.logo {
    width: 215px;
    margin-bottom: 20px;
    padding-right: 0;
    align-self: center;
    display: block;
}


.sidebar-menu {
    list-style: none;
    padding: 0;
}

.sidebar-menu li {
    margin: 10px 0;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
    color: #FFD700;
    border-left: 5px solid white;
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    border-radius: 0 10px 10px 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid white;
    padding-bottom: 10px;
}

.time {
    font-size: 3em;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
}

.nav-links a {
    text-decoration: none;
    color: #FFD700;
    font-size: 1.2em;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #FFFFFF;
}

.center-content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 100px);
}
.center-content p1 {
    font-size: 2.5em; 
    margin-top: -500px; 
    color: #FFD700; 
}

.left h1 {
    width: 50%;
    padding: 10px;
    font-size: 1.75em;
    margin-top: -475px;
}
.left form label,
.left form select {
    display: block;
    margin-bottom: 10px;
}

.highlight {
    background-color: #FFD700;
    color: #002D62;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
}
