/* CSS File: styles.css */

body {
    display: flex;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #07294E;
}

.sidebar {
    width: 20%;
    background-color: #07294E;
    color: #FFC502;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    border-right: 1px solid white;
}

.sidebar .logo {
    width: 80%;
    margin-bottom: 20px;
}

.sidebar a {
    color: #FFC502;
    text-decoration: none;
    font-size: 22px;
    margin: 10px 0;
}

.main-content {
    flex-grow: 1;
    background-color: #07294E;
    color: white;
    padding: 18px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid white;
}

.header .time {
    color: #FFC502;
    font-size: 34px;
}

.header .nav-links a {
    color: #FFC502;
    text-decoration: none;
    margin-left: 20px;
}

.welcome-section {
    text-align: center;
    margin: 20px 0;
}

.register-button {
    background-color: #FFC502;
    color: #07294E;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 20px;
}

.content-section {
    display: flex;
    justify-content: space-between;
}

.dropdowns {
    width: 48%;
}

.dropdowns select {
    width: 96%;
    margin-bottom: 10px;
    padding: 10px;
}

.calendar {
    width: 46%;
    background-color: white;
    color: #07294E;
    padding: 20px;
    border-radius: 5px;
}
